/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #F1F1F3;
}

/* Buttons */

.btn-secondary {
  color: #006a50;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 30px 15px 30px;
}

/* Header and Nav Sections */

.header-section {
  margin-bottom: 20px;
}

.nav-main {
  display: flex;
  padding: 24px 160px;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Hover effect */
.vision-button:hover {
  background-color: red;
  font-style:italic ;
}
.subscribe:hover {
  background-color: red;
  font-style:oblique
}
.banner-btn:hover {
  background-color: rgb(255, 153, 0);
  font-style: 700;
  font-style:italic;
}
.button-taka:hover {
  background-color: rgba(255, 0, 212, 0.884);
  font-style:italic;
}

.donate-button:hover {
  background-color: rgba(255, 136, 0, 0.952);
  
  font-style:italic ;
}

  .btn-sat:hover {
    background-color: rgba(225, 0, 255, 0.952);
    
    font-style:italic ;}

/* Main margin */
.main-margin{
  margin: 0 160px;
  /* justify-content: center; */
}

/* Banner Section */
.banner-section{
 
  /* border-radius: 24px;
  background: #c6e4d6;
  display: flex;
  max-width: 100%;
  padding: 80px 100px;
  justify-content: center;
  align-items: center;
  gap: 64px; */
  border-radius: 24px;
background: #C6E4D6;
display: flex;
max-width: 100%;
padding: 80px 100px;
justify-content: center;
align-items: center;
gap: 64px;
}

.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.banner-text {
  width: 622px;
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 24px;
}
.banner-btn {
  color: #fff;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #006a50;
  display: flex;
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
/* Vision section  */
.vision-section{
  margin-top: 80px;
  display: flex;
  /* width: 1280px; */
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.main-lighting{
  display: flex;
align-items: center;
gap: 24px;
align-self: stretch;
}

.title-text {
  /* align-self: stretch; */
  color: #0E0E0E;
font-family: "Fira Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.vision-text{
  align-self: stretch;
  color: rgba(14, 14, 14, 0.70);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 24px;
margin-bottom: 32px;
}
.vision-light{
  border-radius: 16px;
/* border: 0px solid #5490F5; */
/* background: rgba(84, 144, 245, 0.20); */
display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
}
.vision-light-color1{
  border: 0px solid #5490F5;
  background: rgba(84, 144, 245, 0.20);
}
.vision-light-color2{
  border: 0px solid #09A15C;
  background: #C6E4D6;
}
.vision-light-color3{
  border: 0px solid #FFC239;
  background: #F7EBCF;
}
.vision-light-img{
  position: top left ;
}
.vision-light-heading{
  align-self: stretch;
  color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 24px;
margin-bottom: 12px;
}
.vision-light-text{align-self: stretch;
  color: rgba(14, 14, 14, 0.70);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 

}
/* Vision button color */
.vision-button{
  color: #FFF;
font-family: "Fira Sans";
margin-top: 24px;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
  border-radius: 8px;
/* background: #5490F5; */
display: flex;
padding: 11px 20px;
justify-content: center;
align-items: center;
/* gap: 48px; */

}
.vision-button-c1{
  background: #5490F5;
 
}
.vision-button-c2{
  background: #09A15C;
 
}
.vision-button-c3{
  background: #FFC239;

}

/* News section */

.news-section{
margin-top: 80px;
}

.news-main{
  /* border-radius: 24px;
  background: #FFF;
  display: flex;
padding: 48px;
align-items: center;
gap: 32px;
align-self: stretch; */
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}

.news-text{
  color: rgba(14, 14, 14, 0.70);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
  margin-top: 24px;
  margin-bottom: 32px;
}
.news-comb{
  display: flex;
  padding: 48px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 24px;
background: #FFF;
}
.sat-image{
  width: 408px;
height: 306px;
  border-radius: 24px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.sat-title{
  align-self: stretch;
  color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.al-jaz-ira {
  position: left;
  margin-top: 12px;
  margin-bottom: 12px;
}
.sat-date {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.datetime{
  color: rgba(14, 14, 14, 0.70);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.btn-sat{
  color: #FFF;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
  border-radius: 8px;
  background: #006A50;
  display: flex;
padding: 13px 26px;
justify-content: center;
align-items: center;
margin-top: 32px;
gap: 48px;
}
/* donate-section */
.donate-section{
  margin: 80px 0px;

}
.donate-main-div{
  display: flex;
/* width: 1280px; */
flex-direction: column;
align-items: center;
/* gap: 32px; */
}
.donate-text{
  width: 1104px;
  color: rgba(14, 14, 14, 0.70);
text-align: center;
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 

}
.donate-text-margin{
  margin: 24px 88px 0px 88px;
}

.button-taka{
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #FFF;
  display: flex;
padding: 40px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.button-taka-main{
  display: flex;
  align-items: center;
  gap: 24px;
  /* margin-top: 32px;
  margin-bottom: 32px; */
  margin: 32px 0px;
}
.button-taka-color{
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #C6E4D6;
}

#amount-box-text{

text-align: center;
/* border-bottom: 1px solid rgba(14, 14, 14, 0.15); */

display: flex;
width: 940px;
border-style: none;
padding: 20px 40px;
flex-direction: column;
align-items: center;
gap: 24px;
/* color: rgba(14, 14, 14, 0.30); */
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.text-fixing{
  margin: 0px 124px 32px 124px;
}

.donate-button{
  border-radius: 8px;
  border: 1px solid rgba(14, 14, 14, 0.10);
  background: #006A50;
  display: flex;
padding: 17px 34px;
justify-content: center;
align-items: center;
gap: 48px;
color: #FFF;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

/* News Latter Section */

.news-latter-section{
  border-radius: 24px;
background: #C6E4D6;
align-items: center;
margin-bottom: 80px;

}

.news-latter-div {
  flex-direction: column;
  display: flex;
width: 1280px;
padding: 80px 100px;
justify-content: center;
align-items: center;
/* gap: 64px; */

}
.title-text-news-latter {
  width: 622px;
  color: #0E0E0E;
text-align: center;
font-family: "Fira Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.news-latter-text{
  width: 622px;
  color: rgba(14, 14, 14, 0.70);
text-align: center;
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
  margin-top: 16px;
  margin-bottom: 24px;
}
#e-mail-news{
  border-radius: 8px 0px 0px 8px;
background: #FFF;
display: flex;
width: 600px;
padding: 18px 40px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
color: rgba(14, 14, 14, 0.30);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.subscribe{
  border-radius: 0px 8px 8px 0px;
  background: #006A50;
  /* display: flex; */
padding: 17px 34px;
/* border-style: none; */
/* justify-content: center; */
/* align-items: center; */
gap: 48px;
color: #FFF;
font-family: "Fira Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.subscribe-fix{
 display: flex; 

 justify-content:space-between;
  align-items: center;
}
.no-distrub {
  color: rgba(14, 14, 14, 0.70);
  text-align: center;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 622px;
  margin: 24px 64px 0px 64px;
}
/* Yunus section */

.yunus-section {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #FFF;

}
.yunus-section-div{

  background-image: url(/assets/quote-bg.png);
  
  background-repeat: no-repeat;
  background-position: top left ;
display: flex;
padding: 48px 24px;
flex-direction: column;
align-items: flex-start;
/* gap: 24px; */
flex: 1 0 0;

}
.yunus-text{
  align-self: stretch;
  color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.yunus-name{
  align-self: stretch;
  color: rgba(14, 14, 14, 0.80);
font-family: "Fira Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
margin-top: 12px;
margin-bottom: 4px;
}